# Ignorar dependências e arquivos do ambiente
node_modules/
.env
.DS_Store

# Ignorar arquivos de compilação
dist/
build/
.vscode/
.idea/

# Ignorar logs e cache
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos específicos do sistema
Thumbs.db